.posted-on, .cat-links, .byline, .tags-links {}
.comments-button {}
.comments-button:hover {}
.btn-style .post-categories a {}
.btn-style .post-categories a:hover {}
.sticky-label {}
.invert-hover.has-post-thumbnail:hover, .invert-hover.has-post-thumbnail:hover .posted-on, .invert-hover.has-post-thumbnail:hover .cat-links, .invert-hover.has-post-thumbnail:hover .byline, .invert-hover.has-post-thumbnail:hover .tags-links, .invert-hover.has-post-thumbnail:hover .entry-meta, .invert-hover.has-post-thumbnail:hover a, .invert-hover.has-post-thumbnail:hover .btn-icon, .invert-item.has-post-thumbnail, .invert-item.has-post-thumbnail .posted-on, .invert-item.has-post-thumbnail .cat-links, .invert-item.has-post-thumbnail .byline, .invert-item.has-post-thumbnail .tags-links, .invert-item.has-post-thumbnail .entry-meta, .invert-item.has-post-thumbnail a, .invert-item.has-post-thumbnail .btn:hover, .invert-item.has-post-thumbnail .btn-style .post-categories a:hover, .invert, .invert .entry-title, .invert a, .invert .byline, .invert .posted-on, .invert .cat-links, .invert .tags-links {}
.invert-hover.has-post-thumbnail:hover a:hover, .invert-hover.has-post-thumbnail:hover .btn-icon:hover, .invert-item.has-post-thumbnail a:hover, .invert a:hover {}
.invert-hover.has-post-thumbnail .btn, .invert-item.has-post-thumbnail .comments-button, .posts-list--default.list-style-v10 .invert.default-item .comments-button {}
.invert-hover.has-post-thumbnail .btn:hover, .invert-item.has-post-thumbnail .comments-button:hover, .posts-list--default.list-style-v10 .invert.default-item .comments-button:hover {}
.list-style-v8 .comments-link {}
.list-style-v8 .comments-link:hover {}
.creative-item .entry-title a:hover {}
.list-style-default .creative-item a, .creative-item .btn-icon {}
.list-style-default .creative-item a:hover, .creative-item .btn-icon:hover {}
.list-style-default .creative-item .btn, .list-style-default .creative-item .btn:hover, .list-style-default .creative-item .comments-button:hover {}
.creative-item__title-first-letter {}
.posts-list--creative.list-style-v10 .creative-item:before {}
.posts-list--creative.list-style-v10 .creative-item__post-date {}
;
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing {}
;
	color: $link_color;
}
.posts-list--creative.list-style-v10 .creative-item__post-date a {}
.posts-list--creative.list-style-v10 .creative-item__post-date a:hover {}
.list-style-v2 .creative-item .entry-title, .list-style-v9 .creative-item .entry-title {}
;
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing {}
;
}


.post_format-post-format-image .post-thumbnail__link:before {}
.post_format-post-format-gallery .swiper-button-prev, .post_format-post-format-gallery .swiper-button-next {}
.post_format-post-format-gallery .swiper-button-prev:hover, .post_format-post-format-gallery .swiper-button-next:hover {}
.post_format-post-format-quote .post-format-quote {}
.post_format-post-format-quote .post-format-quote:before {}
.post-author__title a {}
.post-author__title a:hover {}
.invert .post-author__title a {}
.invert .post-author__title a:hover {}
.single-post blockquote {}
.single-post:not(.post-template-single-layout-4):not(.post-template-single-layout-7) .tags-links a:hover {}
.single-header-3 .post-author .byline, .single-header-4 .post-author .byline, .single-header-5 .post-author .byline {}
;
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing {}
;
}
.single-header-8, .single-header-10 .entry-header {}
.single-header-8.invert a:hover, .single-header-10.invert a:hover {}
.single-header-3 a.comments-button, .single-header-10 a.comments-button {}
.single-header-3 a.comments-button:hover, .single-header-10 a.comments-button:hover {}